.Input-field {
    border-right: none;
    border-top: none;
    border-left: none;
    outline:none;
    width:170px;
    height: 26px;
    font-size: 12px;
    margin-left: 10px;
    margin-top: 8px;
}

.Inputfield-container {
    margin-left: 9%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.Error {
    position: absolute;
    font-size: 10px;
    margin-left: 30px;
    color:red;
}