.App {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.Register-container {
    color: black;
    background-color: #FFFFFF;
    width: 20%;
    height: 398px;
    border-radius: 4px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.Header {
    text-align: center;
    padding: 10px;
    font-size: 22px;
    margin-top: 18px;
}

.Header-tag {
    text-align: center;
    padding: 9px;
    font-size: 14px;
}
