.App {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.Register-container {
    color: black;
    background-color: #FFFFFF;
    width: 22%;
    height: 365px;
    border-radius: 4px;
}

.Header {
    text-align: center;
    padding: 10px;
    font-size: 20px;
}

.Header-tag {
    text-align: center;
    padding: 10px;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
