.Button-container {
    text-align: center;
    margin-top: 5%;
}

.button {
    background-color: #DB5581;
    border: none;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 60px;
    padding-right: 60px;
    outline: none;
}